*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2b2a34;
}
.encabezado{
    background-color: #1f1f26;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;
    color: rgb(233, 233, 233);
    border: none;
    border-radius: 50px;
    padding: 20px;

}
.menu{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #333;
    border: none;
    border-radius: 7%;
}
.despegable a{ 
    text-decoration: none;
    list-style: none;
    border: none;
    border-radius: 10px;
}
.despegable{
    background-color: #333;
    color: beige;
    border: none;
    border-radius: 10px;
}
.despegable :hover{
    background-color: #ddd;
    border: none;
    border-radius: 10px;
}
.title{
    margin-top: 2%;
    color: #333;
    margin-bottom: 5%;
    margin-left: 1%;
    padding: 2%;
    border: none;
    border-radius: 10px;
}
.despegable{
    margin-top: 2%;
    border-radius: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    background-color: #1f1f26;
}

.text{
    margin-left: 1%;
    resize: vertical;
    border: none;
    border-radius: 10px;
    padding: 2%;
}
input[type="file"] {
    display: none;
}
.imagen{
    margin-top: 2%;
    margin-left: 2%;
}
.imagen :hover{
    color: aqua;
    cursor: pointer;
}

.boton{
    border: none;
    border-radius: 15%;
    background-color: rgb(233, 233, 233);
    padding: 3%;
    text-align: center;
    margin-left: 84%;
    cursor: pointer;
    margin-bottom: 2%;
}
@media only screen and (max-width: 1458px) {
    .title{
        width: 90%;
    }
    .text{
        width: 100%;
        padding: 8px 18px;
        margin: 9px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 1050px) {
    .boton{
        margin-left: 80%;
    }
}
@media only screen and (max-width: 450px) {
    .boton{
        margin-left: 60%;
    }
    .encabezado{
        font-size: x-small;
    }
}