*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2b2a34;
}

.topnav{
    overflow: hidden;
    background-color: #221f2c;
}

.logoDiv{
    float: left;

}

.logo{
    width: 200px;
    margin-top: 10px;
    padding: 10px 20px;
}

.userData{
    float: right;
}

.bar_pfp{
    width: 80px;
    border-radius: 800px;
    margin: 40px 20px 0px 0px;

}

.bar_username{/*CSS QUE CAMBIA USERNAME EN LA BARRA TOPNAV*/
    font-size: 30px;
    text-decoration: none;
    color: rgb(190, 199, 226);
    float: right;
    margin: 65px 80px 0px 0px;
}

/*------------POSTS---------------*/

.upost{ /*Estructura General de Post y Comment*/
    background-color: #4e4c5e;
    display: inline-block;
    width: 75%;
    border-radius: 80px;
    margin: 30px 0 10px 12%;
}

.pp{ /*CSS QUE EDITA LA PFP DE POST*/
    float: left;
    margin-top: 40px;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 200px;
    
}

.p_username{ /*CSS QUE EDITA EL USERNAME DE POST*/
    float: left;
    margin-top: 60px;
    font-size: 40px;
    font-size: 25px;
    margin-bottom: 5px;
}

.post_title{ /*CSS QUE EDITA TITULO DE POST*/
    font-size: 25px;
    margin-left: 7%;
    color: rgb(190, 199, 226);
    margin-bottom: 5px;
    width: 550px;
}

.post_subject{ /*CSS QUE EDITA EL SUBJECT DE POST*/
    color: rgb(190, 199, 226);
    margin-left: 7%;
}

.post_body{/*CSS QUE EDITA BODY DE POST*/
    font-size: 20px;
    color: rgb(194, 220, 223);
    display: block;
    margin-left: 7%;
} 

.p_img{ /*CSS QUE EDITA IMG DE POST*/
    width: 45%;
    margin-right: 70px;
    margin-top: 10px;
    padding: 15px;
    display: block;
}

.p_pdf{ /*CSS QUE EDITA ACHIVO DE POST*/
    width: 250px;
    padding: 60px;

}


/*------------COMMENTS---------------*/

.username{ /*CSS QUE EDITA USERNAME DE COMMENT*/
    font-size: 30px;
    color: rgb(190, 199, 226);

    float: right;

}
.comment_pp{ /*CSS QUE EDITA PFP DE COMMENT*/
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
    margin-right: 3px;
    border-radius: 200px;

}
.c_body{ /*CSS QUE EDITA BODY DE COMMENT*/
    display: block;
    font-size: 20px;
}

/*BOTON PARA CREAR POST*/
.boton{
    border: none;
    border-radius: 100%;
    width: 5%;
    height: 11%;
    background-color: #4e4c5e;
    position: fixed;
    right: 60px;
    bottom: 20px;
    font-size: 55px;
}
.boton a{
    color: rgb(190, 199, 226);
    text-decoration: none;
}
.boton button:hover{
    background-color: #221f2c;
    transition: 0.5s;
}

@media only screen and (max-width: 850px){
    .c_body {
        display: none;
    }
    .comment_pp{
        display: none;
    }
    .username{
        display: none;
    }

    .post{
        width: 71%;
    }

    .nombre{
        height: 170px
    }
    
    .nombre h1{
        margin-top: 55px;
        font-size: 30px;
    }
    
    .nombre p{
        font-size: 20px;
    }
    
    .nombre img{
        width: 100px;
        padding: 10px;
    }
}