body{
    background-color: #2b2a34;
   
}

.logobox{
    background-color:black;
}

.innerbox{
    width: 80vh;
    height: 80vh;
    background-color:#4e4c5e;

    border-radius: 10vh;

    margin-left: 120vh; 

    justify-content: center;
    

}

.innerbox h2{
    margin-bottom: 10%;
}

/*forms*/
.innerbox label{
    color: beige;
    
    font-size: 200%;

   margin-left:35%;
}
.innerbox input{
    margin-left: 35%;
    width: 30%;
    height: 30%;
}

.signingbox button:hover{
    
    background-color: #ddd;
    color: black;
    border-radius: 5vh;
    
}

button{
    float: right;
    margin-right: 35%;
    background-color: #2a2e34;
    margin-top:5%;
    padding: 5%;
    border-radius: 3rem;
    color: beige;
    font-size: 2.1vw;
    text-transform: uppercase;
    cursor: pointer;

}

/*--forms--*/

.logo img{
    position: absolute;
    background-size: cover;

    padding-left: 8%;
    padding-top: 8%;

    width: 40%;

    text-align: center;
    
   
}



.titleSignUp{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;

    font-size: 7vw;

   
    
}

@media only screen and (max-width: 768px) {
    .innerbox {
        width: 90%;
        height: 70vh;
        margin-left: 5%; /* Adjust margin as needed */
    }

    .signingbox {
        width: 90%;
        margin-left: 5%; /* Adjust margin as needed */
        margin-bottom: 5%;
    }

    .logo img{
        display: none;
    }

    .innerbox label{
        font-size: 200%;
    }
    .innerbox H2{
        font-size: 300%;
    }

    button{
        width: 50%;
        margin-right: 25%;
    }
}

