*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2b2a34;
}

.logoBox{
    float: left;
    margin-left: 10%;
}
.logo{
    width: 35vw;
    padding-top: 12vw;
}

.innerbox{
    float: left;
    margin: 20px 0 0 5%;
    width: 35%;
    background-color:#4e4c5e;
    border-radius: 80px;
}

.titleSignUp{
    text-align: center;
    color: rgb(220, 245, 245);;
    font-size: 5vw;
}

.innerbox p{
    text-align: center;
    margin: 2% 30% 0 30%;
    font-size: 15px;
}

.innerbox h2{
    font-size: 5vw;
    margin-bottom: 5%;
}

/*forms*/
.innerbox label{
    color: rgb(220, 245, 245);
    font-size: 1.7vw;
    margin-left: 30%;
}

.innerbox input{
    margin: 0 0 10px 30%;
    width: 40%;
    padding: 3px;
}

.signingbox button:hover{
    background-color: #ddd;
    color: black;
    border-radius: 5vh;
}

button{
    background-color: #141318;
    width: 50%;
    margin: 5% 0 3% 25%;
    padding: 5% 0 6% 0;
    border-radius: 80px;
    color: rgb(220, 245, 245);;
    font-size: 2vw;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 1024px) {
    .innerbox {
        width: 80%;
        margin: 5% 0 0 10%;
    }

    .logoBox{
        display: none;
    }

    .innerbox label{
        font-size: 3vw;
    }

    .innerbox h2{
        font-size: 6vw;
        margin-top: 20px;
    }

    button{
        width: 50%;
        margin-right: 25%;
        font-size: 3vw;
        padding: 40px;
    }

    .innerbox p{
        font-size: 15px;
        margin-left: 3%;
        margin-right: 3%;
    }
}

